.listing {
	display: flex;
	flex-wrap: wrap;
}
.listing ul {
	background-color: rgb(50, 115, 200);
	width: 100%;
	height: 50px;
	padding-left: 0px;
	margin: 0px;
}
.listing ul li {
	float: left;
	list-style-type: none;
	width: 16%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}
.lister:hover {
	background-color: rgb(50, 200, 230);
}
.container {
	display: flex;
	flex-wrap: wrap;
}
.container>a {
	float: left;
	border: solid 1px rgb(50, 115, 200);
	width: 18%;
	height: 200px;
	margin: 2%;
}
.container>a div {
	height: 100%;
	text-align: center;
	vertical-align: bottom;
	line-height: 70px;
}
.container a div img {
	width: 50%;
}
.clothes {
        display: flex;
        flex-wrap: wrap;
}
.clothes div {
        float: left;
        width: 50%;
        height: 400px;
}
#item {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
}
