.listing>ul {
	overflow: hidden;
	background-color: rgba(14, 116, 199, 0.7);
}
.listing {
	height: 200px;
	width: 100%;
}
li {
	float: left;
	list-style-type: none;
}
li a{
	color: white;
	text-decoration: none;
}
.lister:hover{
	background-color: rgba(14, 116, 199, 0.4);
}
.container{
	display: flex;
	flex-wrap: wrap;
}
.lister{
	width: 16.67%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
}
.container> a{
	text-decoration: none;
	color: rgba(14, 116, 199, 0.7);
}
div a img{
	width: 150px;
	margin: 15px;
}
h1{
	color: rgba(14, 116, 199, 0.7);
}
.container>div {
        float: left;
        width: 50%;
}
.container:after {
	content: "";
	display: table;
	clear: both;
}
#item {
        display: block; 
        margin-left: auto; 
        margin-right: auto;
        width: 60%;
}
